body {
    background-color: #555;
}

.outer {
    text-align: center;
    margin: 0 auto;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*display: table;*/
    /*position: relative;*/
}

.inner {
    background-color: #03fcec;
    position: absolute;
    height: 400px;
    width: 400px;
    /*text-align: center;*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

input {
    width: 70px;
    height: 36px;
    margin-bottom: 20px;
}

button {
    height: 30px;
    width: 55px;
    color: #eee;
    transition: all 0.5s ease-out;
    margin-bottom: 20px;
}

button:disabled {
    background-color: #aaa;
}

button:enabled {
    background-color: #f00;
}

.hidden {
    display: none;
}

#mask {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#modal {
    background-color: #fffacd;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: fixed; /*positionをstatic以外に */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid red;
    z-index: 2;
    flex-direction: column;
    font-size: 30px;
    font-weight: bold;
}

#retry {
    cursor: pointer;
    width: 150px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    margin: 16px auto 0;
    background: #4caf50;
    font-size: 28px;
    font-weight: bold;
    color: white;
}