@charset "utf-8";
.open {
    display: inline-block;
    cursor:pointer;
    color: #fff;
    background-color: #E83015;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 10px;
}

#popup {
    display: none;
}

.gray {
    display: none;
}

#popup:checked + .gray {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    max-width: 360px;
    padding: 30px;
    height: 300px;
    background-color: #fff;
    border-radius: 4px;
    align-items: center;
    transform: translate(-50%, -50%);
}

.title {
    color: #E83015;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: #E83015 2px solid;
}

.close {
    position: absolute;
    color: #fff;
    background-color:#E83015;
    padding: 5px 13px;
    border-radius: 10px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
