body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

/*ヘッダーとロゴのスタイル*/
header {
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #f0f0b4;
    text-shadow: 0 0 10px #f0f0b4;
}

header h1 {
    margin: 0;
    font-size: 30px;
    line-height: 70px;
}

/*タブのサイズ*/
.tab01 {
  width: 60%;
  margin: 15px auto 50px;
}
/*各タブのスタイル*/
.tab_menu {
  width: calc(99.1%/5);  /*タブに枠線を付ける*/
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
  color: #000;
  margin: 0 0.5px 0;
  border-bottom: 3px solid #1f71b5;
  background-color: #d9d9d9;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  border-radius: 5px 5px 0 0;
}

.tab_menu:hover {
  opacity: 0.75;
}
/*ラジオボタンを全て消す*/
input[name="tab_menu"] {
  display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_contents {
  display: none;
  padding: 30px;
  height: 60%;
  clear: both;
  overflow: hidden;
  background-color: #e6e6fa;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  border-radius: 0 0 5px 5px;

}
/*選択されているタブを表示*/
#menu01:checked ~ #menu01,
#menu02:checked ~ #menu02,
#menu03:checked ~ #menu03,
#menu04:checked ~ #menu04,
#menu05:checked ~ #menu05 {
  display: block;
  height: 600px;
}
/*選択されているタブのスタイル*/
.tab01 input:checked + .tab_menu {
  background-color: #1f71b5;
  color: #fff;
}

/*テキストのスタイル*/
.text, .update {
    display: block;
    animation: fadein-top 0.5s ease-out forwards;
}

/*Topのスクロールボックスのスタイル*/
.update {
  overflow: auto;
  width: 75%;
  height: 200px;
  /*margin: 20px;*/
  border: 2px dotted #777;
  background-color: #eee;
  line-height: 1.5em;
}

/*Skillのスタイル*/
h3 {
  /*text-align: center;*/
  margin: 0;
  font-size: 20px;
}

/*StuffのFlexboxのスタイル*/
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 20px;
}

.container img {
  border: 1px solid #333;
  border-radius: 5px;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

/*Stuffのモーダルウィンドウのスタイル*/
.modal_wrap input {
    display: none;
}

.modal_open-label,
.modal_close-label {
    cursor: pointer;
}

.modal_open-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin:0 auto;
    padding: .8em 2em;
    border: none;
    border-radius: 5px;
    background-color: #2589d0;
    color: #ffffff;
    font-weight: 600;
    font-size: 1em;
}

.modal_open-label:hover {
    background-color: #fff;
    color: #2589d0;
    outline: 1px solid #2589d0;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

.modal_open-input:checked + label + input + .modal {
    display: block;
    animation: modal-animation .6s;
}

/*モーダルで表示される白いウィンドウの部分*/
.modal_content-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 650px;
    background-color: #fefefe;
    z-index: 2;
    border-radius: 5px;
}

/*モーダルウィンドウ右上の×印の部分*/
.modal_close-label {
    background-color: #777;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    line-height: 1.6;
    text-align: center;
    display: table-cell;
    position: fixed;
    top: -15px;
    right: -2%;
    z-index: 99999;
    font-size: 1.3em;
}

.modal_content {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*max-height: 50vh;*/
    overflow-y: auto;
    padding: 39px 45px 40px;
    font-size: 14px;
}

.modal_background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
    z-index: 1;
}

@keyframes modal-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 520px) {
    .modal_open-label {
        max-width: 90%;
        padding: .94em 2.1em .94em 2.6em;
    }

    .modal_close-label {
        top: -17px;
        right: -4%;
    }

    .modal_content-wrap {
        width: 90vw;
    }

    .modal_content {
        padding: 33px 21px 35px;
        max-width: 100%;
        text-align: center;
    }
    .modal_text {
      display: inline-block;
      text-align: left;
    }
}

img {
  align-items: center;
}

/*作品のページに飛ぶボタン*/
.btn a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 200px;
	height: 50px;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
}

.btn a:hover {
	color: #f2f2f2;
}

.btn01 a {
	background-color: #ceb849;
	border: 1px solid #ceb849;
}

.btn01 a:hover {
	background-color: #B99b00;
	border: 1px solid #333;
}

/*Linkのスタイル*/
#link {
  list-style-type: none; 
}

/*タブ切り替え時のアニメーション*/
@keyframes fadein-top {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

